<!doctype html>
<html lang="en">
  <head>
  {% PageMetadata page=page, title=title, description=description, ogImage=ogImage %}
  <link rel="preconnect" href="https://caesar.zooniverse.org" />
  <link rel="stylesheet" href="{{ config.siteRoot }}/css/main.css" />
  <script src="{{ config.siteRoot }}/js/subject.js"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>