---
layout: default
title: Transcriptions
description: Transcribed volumes
permalink: "/pmlogan/poets-and-lovers/volumes/"
---
<main id="notebooks">
  <h1>Volumes</h1>
  <ul>
    {% for link in titlePages %}
    <li><a href="{{ link.href }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</main>

