---
layout: default
title: Transcriptions Explorer
description: Volunteer transcriptions from Zooniverse projects.
---
<main>
  <h1>Transcription projects</h1>
  <ul>
    {% for project in projects %}
    <li>
      <div>
      <h2>
        <a href="/transcription-explorer/{{ project.slug }}/">
          {{ project.display_name }}
        </a>
      </h2>
      <p>
        {{ project.introduction | markdown | safe }}
      </p>
      </div>
    </li>
    {% endfor %}
  </ul>
</main>

