---
layout: default
title: Transcriptions Explorer
description: Volunteer transcriptions from Zooniverse projects.
---
<main>
  <h1>Transcription explorer</h1>
  <p>
    Browse volunteer transcriptions from Zooniverse projects. Built with <a href="https://11ty.dev">Eleventy</a>.
  </p>
  <ul>
    {% for project in projects %}
    <li>
      <h2>
        <a href="{{ config.siteRoot }}/{{ project.slug }}/">
          {{ project.display_name }}
        </a>
      </h2>
      <p>
        {{ project.introduction | markdown | safe }}
      </p>
    </li>
    {% endfor %}
  </ul>
</main>

