---
layout: default
title: Transcriptions Explorer
description: Volunteer transcriptions from Zooniverse projects.
---
<main>
  <h1>Transcription projects</h1>
  <ul>
    {% for project in projects %}
    <li><a href="/transcription-explorer/{{ project.slug }}/volumes/">{{ project.display_name }}</a></li>
    {% endfor %}
  </ul>
</main>

