---
layout: default
title: Transcriptions
description: Transcribed volumes
pagination:
  data: projects
  size: 1
  alias: project
permalink: "{{ project.slug }}/volumes/"
---
<main id="notebooks">
  <h1>{{ project.display_name }}</h1>
  <ul>
    {% for link in titlePages %}
    <li><a href="{{ link.href }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>
</main>

