---
layout: default
title: Transcriptions
description: Transcribed volumes
pagination:
  data: projects
  size: 1
  alias: project
permalink: "{{ project.slug }}/"
---
<nav aria-label="Project navigation">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ config.siteRoot }}{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li><a href="{{ config.siteRoot }}/">Home</a></li>
    <li>{% if pagination.href.next %}<a href="{{ config.siteRoot }}{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
</nav>
<main id="notebooks">
  <h1>{{ project.display_name }}</h1>
  <p>{{ project.researcher_quote }}</p>
  <h2>Subject sets</h2>
  <ul>
    {% for link in titlePages %}
    <li><a href="{{ link.href }}">{{ link.title }}</a> ({{ link.subjectCount }})</li>
    {% endfor %}
  </ul>
</main>
<nav aria-label="Project navigation">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ config.siteRoot }}{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li><a href="{{ config.siteRoot }}/">Home</a></li>
    <li>{% if pagination.href.next %}<a href="{{ config.siteRoot }}{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
</nav>

