---
layout: default
pagination:
  data: subjectSets
  size: 1
  alias: subjectSet
---
<nav aria-label="Subject set navigation">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ config.siteRoot }}{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li><a href="{{ config.siteRoot }}/{{ project.slug }}/">{{ project.display_name }}</a></li>
    <li>{% if pagination.href.next %}<a href="{{ config.siteRoot }}{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
</nav>
<main>
  <h1>{{ project.display_name }}: {{ subjectSet.display_name }}</h1>
  <ul class="thumbnails">
  {% for thumbnail in thumbnails %}
  <li>
    <a href="{{ thumbnail.href }}">
      <img
        width=100
        alt="{{ thumbnail.alt }}"
        src="{{ thumbnail.src }}"
        loading="lazy"
        decode="async"
      />
    </a>
  </li>
  {% endfor %}
</ul>
</main>
<nav aria-label="Subject set navigation">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ config.siteRoot }}{{ pagination.href.previous }}">Previous</a>{% else %}Previous{% endif %}</li>
    <li><a href="{{ config.siteRoot }}/{{ project.slug }}/">{{ project.display_name }}</a></li>
    <li>{% if pagination.href.next %}<a href="{{ config.siteRoot }}{{ pagination.href.next }}">Next</a>{% else %}Next{% endif %}</li>
  </ol>
</nav>
